#title {
    float: left;
    width: 50%;
}

ion-title {
    font-family: "Permanent Marker", sans-serif;
    font-size: 2em;
    padding: 0;
    position: relative;
}

.subtitle {
    font-family: "DotGothic16", sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content-image {
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

.logo {
    width: 7em;
    height: auto;
    padding-top: 5px;

}

.logo-email {
    width: 3em;
    height: auto;
    padding-top: 25px;
    
    }

.content-image-email {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    height: 1em;
    
}

ion-button {
    margin-top: 30px;
    margin-bottom: 20px;
}

.inscription_ps {
    font-family: "DotGothic16", sans-serif;
    font-size: 16px;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0;

}

.col-content {
    margin-top: 3em;
    align-items: center;
}

.content-message {
    padding-top: 3em;
}

#container {
    text-align: center;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    
    color: #8c8c8c;
    
    margin: 0;
}

#container a {
    text-decoration: none;
}