<ion-content>
    <ion-row>
        <ion-col>
            <ion-item lines="full">
                <ion-label class="text-form">
                    Bienvenue {{ userData.firstname + ' ' + userData.lastname }} sur RunningQuest !
                </ion-label>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-button id="map-button" expand="block" type="submit" (click)="displayMap()">
                Voir ma position
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button id="trajet-button" expand="block" type="submit" (click)="displayMapWithDirection()">
                Choisir une destination
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button id="course-button" color="success" expand="block" type="submit" (click)="displayCourseMode()">
                Lancer la course
            </ion-button>
        </ion-col>
    </ion-row>
    <br/>
    <ng-template [ngIf]="selectedDailyQuest.length != 0 || selectedWeeklyQuest.length != 0 || selectedMonthlyQuest.length != 0"><ion-title>Liste des quêtes selectionnées : </ion-title></ng-template>
    <ion-card color="success" *ngFor="let quest of selectedDailyQuest">
        <ion-card-header>
            <ng-template [ngIf]="quest.selection.percentage != undefined && quest.selection.percentage <= 1">
                <ion-progress-bar value="{{quest.selection.percentage}}"></ion-progress-bar>
            </ng-template>
            <ion-item color="success">                
                <ng-template [ngIf]="quest.selection.percentage >= 1">
                    <ion-icon class="completion" name="checkmark-circle" slot="start"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="quest.type == 1">
                    <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="quest.type == 2">
                    <ion-icon color="dark" name="flag" slot="start"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="quest.type == 3">
                    <ion-icon color="dark" name="infinite" slot="start"></ion-icon>
                </ng-template>
                <ion-card-title>{{ quest.name }}</ion-card-title>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <div class="content">
                <div class="dateQuest">
                    <span>Début: {{quest.given_date | date : "dd/MM/y" }} ➔ </span>
                    <span>Fin: {{quest.expiration_date | date : "dd/MM/y"}}</span>
                </div>
                <br />
                <p><em>{{quest.description}}</em></p>
                <br />
                <ng-template [ngIf]="quest.type == 1 || quest.type == 3 ">
                    <span>Time = {{quest.time * quest.selection.shoes}} min</span>
                </ng-template>
                <ng-template [ngIf]="quest.type == 3 "><span> /---\ </span></ng-template>
                <ng-template [ngIf]="quest.type == 2 || quest.type == 3 ">
                    <span>Distance = {{quest.distance * quest.selection.shoes}} km</span>
                </ng-template>
            </div>
            <br />
            <p class="runnerPoint">RP : {{quest.nbRp * quest.selection.shoes}}</p>
        </ion-card-content>
    </ion-card>
    <ion-card color="secondary" *ngFor="let quest of selectedWeeklyQuest">
        <ion-card-header>
            <ng-template [ngIf]="quest.selection.percentage != undefined && quest.selection.percentage <= 1">
                <ion-progress-bar value="{{quest.selection.percentage}}"></ion-progress-bar>
            </ng-template>
            <ion-item color="secondary">                
                <ng-template [ngIf]="quest.selection.percentage >= 1">
                    <ion-icon class="completion" name="checkmark-circle" slot="start"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="quest.type == 1">
                    <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="quest.type == 2">
                    <ion-icon color="dark" name="flag" slot="start"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="quest.type == 3">
                    <ion-icon color="dark" name="infinite" slot="start"></ion-icon>
                </ng-template>
                <ion-card-title>{{ quest.name }}</ion-card-title>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <div class="content">
                <div class="dateQuest">
                    <span>Début: {{quest.given_date | date : "dd/MM/y" }} ➔ </span>
                    <span>Fin: {{quest.expiration_date | date : "dd/MM/y"}}</span>
                </div>
                <br />
                <p><em>{{quest.description}}</em></p>
                <br />
                <ng-template [ngIf]="quest.type == 1 || quest.type == 3 ">
                    <span>Time = {{quest.time * quest.selection.shoes}} min</span>
                </ng-template>
                <ng-template [ngIf]="quest.type == 3 "><span> /---\ </span></ng-template>
                <ng-template [ngIf]="quest.type == 2 || quest.type == 3 ">
                    <span>Distance = {{quest.distance * quest.selection.shoes}} km</span>
                </ng-template>
            </div>
            <br />
            <p class="runnerPoint">RP : {{quest.nbRp * quest.selection.shoes}}</p>
        </ion-card-content>
    </ion-card>
    <ion-card color="danger" *ngFor="let quest of selectedMonthlyQuest">
        <ion-card-header>
            <ng-template [ngIf]="quest.selection.percentage != undefined && quest.selection.percenrtage != 1">
                <ion-progress-bar value="{{quest.selection.percentage}}"></ion-progress-bar>
            </ng-template>
            <ion-item color="danger">                
                <ng-template [ngIf]="quest.selection.percentage == 1">
                    <ion-icon class="completion" name="checkmark-circle" slot="start"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="quest.type == 1">
                    <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="quest.type == 2">
                    <ion-icon color="dark" name="flag" slot="start"></ion-icon>
                </ng-template>
                <ng-template [ngIf]="quest.type == 3">
                    <ion-icon color="dark" name="infinite" slot="start"></ion-icon>
                </ng-template>
                <ion-card-title>{{ quest.name }}</ion-card-title>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <div class="content">
                <div class="dateQuest">
                    <span>Début: {{quest.given_date | date : "dd/MM/y" }} ➔ </span>
                    <span>Fin: {{quest.expiration_date | date : "dd/MM/y"}}</span>
                </div>
                <br />
                <p><em>{{quest.description}}</em></p>
                <br />
                <ng-template [ngIf]="quest.type == 1 || quest.type == 3 ">
                    <span>Time = {{quest.time * quest.selection.shoes}} min</span>
                </ng-template>
                <ng-template [ngIf]="quest.type == 3 "><span> /---\ </span></ng-template>
                <ng-template [ngIf]="quest.type == 2 || quest.type == 3 ">
                    <span>Distance = {{quest.distance * quest.selection.shoes}} km</span>
                </ng-template>
            </div>
            <br />
            <p class="runnerPoint">RP : {{quest.nbRp * quest.selection.shoes}}</p>
        </ion-card-content>
    </ion-card>
</ion-content>
