.text-form {
	font-family: "DotGothic16", sans-serif;
	font-size: 16px;
	text-align: center;
}

.container-button {
	margin-top: 1em;
}

.NumbersRP {
	font-family: "DotGothic16", sans-serif;
	font-size: 16px;
	text-align: center;
}

.ListQuest {
	font-family: "DotGothic16", sans-serif;
	margin-bottom: 1em;
	font-size: 16px;
	text-align: center;
}

.dateQuest {
	font-weight: bold;
}

.content,
ion-card-title {
	text-align: center;
}

.ion-inherit-color {
	text-align: center;
}

.runnerPoint {
	float: right;
	font-weight: bolder;
}

.design_quest {
	text-align: left;
}

.completion {
  color:greenyellow;
  padding-left: 85%;
  position: absolute;
}



