ion-icon{
    float: left;
    
}

ion-item ion-card-title{
    padding-left: 2em;
}

ion-card-content p{

    text-align: center;

}

.dateQuest{
    font-weight: bold;
}
.content{
    text-align: center;
}

.runnerPoint{
    float: right;
    font-weight: bolder;
}

.design_quest{

    text-align:left;
    
}