<ion-content>
    <ion-card color="success">
        <ion-card-header>
            <ion-card-title>Quotidienne</ion-card-title>
        </ion-card-header>
        <ion-card *ngFor="let quest of givenDailyQuest" (click)="goToShoes(quest.id)">
            <ion-card-header>
                <ion-item>
                    <ng-template [ngIf]="quest.type == 1">
                        <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                    </ng-template>
                    <ng-template [ngIf]="quest.type == 2">
                        <ion-icon color="dark" name="flag" slot="start"></ion-icon>
                    </ng-template>
                    <ng-template [ngIf]="quest.type == 3">
                        <ion-icon color="dark" name="infinite" slot="start"></ion-icon>
                    </ng-template>
                    <ion-card-title>{{ quest.name }}</ion-card-title>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <!-- <p *ngFor="let property of quest | keyvalue">
                    <span class="design_quest">{{ property.value }}</span>
                </p> -->
            </ion-card-content>
        </ion-card>
    </ion-card>

    <ion-card color="secondary">
        <ion-card-header>
            <ion-card-title>Hebdomadaire</ion-card-title>
        </ion-card-header>
        <ion-card *ngFor="let quest of givenWeeklyQuest" (click)="goToShoes(quest.id)">
            <ion-card-header>
                <ion-item>
                    <ng-template [ngIf]="quest.type == 1">
                        <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                    </ng-template>
                    <ng-template [ngIf]="quest.type == 2">
                        <ion-icon color="dark" name="flag" slot="start"></ion-icon>
                    </ng-template>
                    <ng-template [ngIf]="quest.type == 3">
                        <ion-icon color="dark" name="infinite" slot="start"></ion-icon>
                    </ng-template>
                    <ion-card-title>{{ quest.name }}</ion-card-title>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <!-- Afficher propriété ici -->
            </ion-card-content>
        </ion-card>
    </ion-card>

    <ion-card color="danger">
        <ion-card-header>
            <ion-card-title>Mensuel</ion-card-title>
        </ion-card-header>
        <ion-card *ngFor="let quest of givenMonthlyQuest" (click)="goToShoes(quest.id)">
            <ion-card-header>
                <ion-item>
                    <ng-template [ngIf]="quest.type == 1">
                        <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                    </ng-template>
                    <ng-template [ngIf]="quest.type == 2">
                        <ion-icon color="dark" name="flag" slot="start"></ion-icon>
                    </ng-template>
                    <ng-template [ngIf]="quest.type == 3">
                        <ion-icon color="dark" name="infinite" slot="start"></ion-icon>
                    </ng-template>
                    <ion-card-title>{{ quest.name }}</ion-card-title>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <!-- Afficher propriété ici -->
            </ion-card-content>
        </ion-card>
    </ion-card>
</ion-content>