<ion-content>
    <ion-card color="success">
        <ion-card-header>
            <ion-card-title>Quotidienne</ion-card-title>
        </ion-card-header>
        <ion-card>
            <ion-card-header>
                <ion-item href="#" class="ion-activated">
                    <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                    <ion-card-title>Journalier</ion-card-title>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <p *ngFor="let quest of questList">
                    <span class="design_quest">{{ quest.quest_name }}</span>
                    <span class="design_quest">{{quest.quest_description}}</span>
                    <span class="design_quest">{{ quest.quest_creationDate }}</span>
                    <span class="design_quest">{{quest.quest_type}}</span>
                    <span class="design_quest">{{quest.quest_nbRp}}</span>
                    <span class="design_quest">{{quest.quest_distance}}</span>
                    <span class="design_quest">{{quest.quest_time}}</span>
                    <span class="design_quest">{{quest.quest_userId}}</span>
                </p>
            </ion-card-content>
        </ion-card>
    </ion-card>

    <ion-card color="secondary">
        <ion-card-header>
            <ion-card-title>Hebdomadaire</ion-card-title>
        </ion-card-header>

        <ion-card>
            <ion-card-header>
                <ion-item href="#" class="ion-activated">
                    <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                    <ion-card-title>Journalier</ion-card-title>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <p *ngFor="let quest of questList">
                    <span class="design_quest">{{ quest.quest_name }}</span>
                    <span class="design_quest">{{quest.quest_description}}</span>
                    <span class="design_quest">{{ quest.quest_creationDate }}</span>
                    <span class="design_quest">{{quest.quest_type}}</span>
                    <span class="design_quest">{{quest.quest_nbRp}}</span>
                    <span class="design_quest">{{quest.quest_distance}}</span>
                    <span class="design_quest">{{quest.quest_time}}</span>
                    <span class="design_quest">{{quest.quest_userId}}</span>
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-item href="#" class="ion-activated">
                    <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                    <ion-card-title>Journalier</ion-card-title>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <p *ngFor="let quest of questList">
                    <span class="design_quest">{{ quest.quest_name }}</span>
                    <span class="design_quest">{{quest.quest_description}}</span>
                    <span class="design_quest">{{ quest.quest_creationDate }}</span>
                    <span class="design_quest">{{quest.quest_type}}</span>
                    <span class="design_quest">{{quest.quest_nbRp}}</span>
                    <span class="design_quest">{{quest.quest_distance}}</span>
                    <span class="design_quest">{{quest.quest_time}}</span>
                    <span class="design_quest">{{quest.quest_userId}}</span>
                </p>
            </ion-card-content>
        </ion-card>
    </ion-card>

    <ion-card color="danger">
        <ion-card-header>
            <ion-card-title>Mensuel</ion-card-title>
        </ion-card-header>
        <ion-card>
            <ion-card-header>
                <ion-item href="#" class="ion-activated">
                    <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                    <ion-card-title>Journalier</ion-card-title>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <p *ngFor="let quest of questList">
                    <span class="design_quest">{{ quest.quest_name }}</span>
                    <span class="design_quest">{{quest.quest_description}}</span>
                    <span class="design_quest">{{ quest.quest_creationDate }}</span>
                    <span class="design_quest">{{quest.quest_type}}</span>
                    <span class="design_quest">{{quest.quest_nbRp}}</span>
                    <span class="design_quest">{{quest.quest_distance}}</span>
                    <span class="design_quest">{{quest.quest_time}}</span>
                    <span class="design_quest">{{quest.quest_userId}}</span>
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-item href="#" class="ion-activated">
                    <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                    <ion-card-title>Journalier</ion-card-title>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <p *ngFor="let quest of questList">
                    <span class="design_quest">{{ quest.quest_name }}</span>
                    <span class="design_quest">{{quest.quest_description}}</span>
                    <span class="design_quest">{{ quest.quest_creationDate }}</span>
                    <span class="design_quest">{{quest.quest_type}}</span>
                    <span class="design_quest">{{quest.quest_nbRp}}</span>
                    <span class="design_quest">{{quest.quest_distance}}</span>
                    <span class="design_quest">{{quest.quest_time}}</span>
                    <span class="design_quest">{{quest.quest_userId}}</span>
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-item href="#" class="ion-activated">
                    <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
                    <ion-card-title>Journalier</ion-card-title>
                </ion-item>
            </ion-card-header>
            <ion-card-content>
                <p *ngFor="let quest of questList">
                    <span class="design_quest">{{ quest.quest_name }}</span>
                    <span class="design_quest">{{quest.quest_description}}</span>
                    <span class="design_quest">{{ quest.quest_creationDate }}</span>
                    <span class="design_quest">{{quest.quest_type}}</span>
                    <span class="design_quest">{{quest.quest_nbRp}}</span>
                    <span class="design_quest">{{quest.quest_distance}}</span>
                    <span class="design_quest">{{quest.quest_time}}</span>
                    <span class="design_quest">{{quest.quest_userId}}</span>
                </p>
            </ion-card-content>
        </ion-card>
    </ion-card>
</ion-content>