<ion-header>
  <ion-toolbar class="header">
    <div id="title">
      <center>
        <ion-title>Course</ion-title>
      </center>
    </div>
    <div class="content-image">
      <center>
        <ion-img [routerLink]="['/home/accueil']" expand="full" class="logo" src="assets/icon/logo.png"></ion-img>
      </center>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <ion-item>
      <ion-label position="floating">Destination</ion-label>
      <ion-input formControlName="destination"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!directionForm.valid">Trouver direction</ion-button>
  </form>

  <div #mapElement class="map"></div>

  <div class="chrono">
    <p>{{timeToDisplay.clock}}</p>
  </div>

  <ng-template [ngIf]="courseMode == false">
    <div class="start" (click)="startCourseMode()">
      <ion-icon name="play"></ion-icon>
    </div>
  </ng-template>

  <ng-template [ngIf]="courseMode == true">
    <div class="pause" (click)="pauseCourseMode()">
      <ion-icon color="dark" name="pause" slot="start"></ion-icon>
    </div>
  </ng-template>

  <div class="stop" (click)="stopCourseMode()">
    <ion-icon name="square"></ion-icon>
  </div>

  <div class="quest">
    <ion-card *ngFor="let quest of selectedQuest" class="questelement">
      <div class="element">
        <ng-template [ngIf]="quest.selection.percentage != undefined">
          <ion-progress-bar value="{{quest.selection.percentage}}"></ion-progress-bar>
        </ng-template>
        <p><strong>{{ quest.name }}</strong>
          <br />
          <ng-template [ngIf]="quest.type == 1 || quest.type == 3 ">
            <span>Time = {{quest.time * quest.selection.shoes}} min</span>
            <br />
          </ng-template>
          <ng-template [ngIf]="quest.type == 2 || quest.type == 3 ">
            <span>Distance = {{quest.distance * quest.selection.shoes}} km</span>
          </ng-template>
        </p>
      </div>
    </ion-card>
  </div>
</ion-content>