<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Se connecter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

      <ion-row>
        <ion-col>
          <ion-button
                  type="submit"
                  (click)="logIn(email, password)"
                  expand="block"
                  color="success">Connexion
          </ion-button>
        </ion-col>
      </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <ion-button
              (click)="goToRegisterPage()"
              expand="block">S'inscrire
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
