<ion-header>
  <ion-toolbar class="header">
    <div class="content-image">
      <center>
        <ion-img expand="full" class="logo"
          src="assets/icon/logo.png"></ion-img>
      </center>
    </div>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-title class="subtitle">
    Se connecter
  </ion-title>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

      <ion-row>
        <ion-col>
          <ion-button
                  type="submit"
                  (click)="logIn(email, password)"
                  expand="block"
                  color="success">Connexion
          </ion-button>
        </ion-col>
      </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <ion-button
              (click)="goToRegisterPage()"
              expand="block">S'inscrire
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
