<ion-header>
  <ion-toolbar>
    <div>

      <ion-title>Shoes</ion-title>

    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Quotidienne</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="rating">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
          <ion-card-title>{{ quest.name}}</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <p>Time = ... min</p>
        <p>Distance = ... min</p>
      </ion-card-content>
    </ion-card>
    <p>Choisir votre niveau de difficulté:</p>
    <div>
      <span class ="shoes" alt="5eme étoile" data-shoes = "1">★</span>
      <span class ="shoes" alt="4eme étoile" data-shoes = "2">★</span>
      <span class ="shoes" alt="3eme étoile" data-shoes = "3">★</span>
      <span class ="shoes" alt="2eme étoile" data-shoes = "4">★</span>
      <span class ="shoes" alt="1ere étoile" data-shoes = "5">★</span>
      &nbsp; rating: <span class="rating">-</span>
    </div>
  </ion-card>
</ion-content>