<ion-header>
  <ion-toolbar>
    <div>

      <ion-title>Shoes</ion-title>

    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Quotidienne</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="rating">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-icon color="dark" name="time-outline" slot="start"></ion-icon>
          <ion-card-title>Mamamia</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <p>Time = ... min</p>
        <p>Distance = ... min</p>
      </ion-card-content>
    </ion-card>
    <p>Choisir votre niveau de difficulté:</p>
    <!--
  --><a href="#" title="Donner 5 étoiles"><img src="chaussure.png" alt="chaussure équivalant au niveau de difficulté"></a>
    <!--
  --><a href="#" title="Donner 4 étoiles"><img src="chaussure.png" alt="chaussure équivalant au niveau de difficulté"></a>
    <!--
  --><a href="#" title="Donner 3 étoiles"><img src="chaussure.png" alt="chaussure équivalant au niveau de difficulté"></a>
    <!--
  --><a href="#" title="Donner 2 étoiles"><img src="chaussure.png" alt="chaussure équivalant au niveau de difficulté"></a>
    <!--
  --><a href="#" title="Donner 1 étoile"><img src="chaussure.png" alt="chaussure équivalant au niveau de difficulté"></a>
  </ion-card>
</ion-content>