<ion-header>
    <ion-title>
        Informations générales
    </ion-title>
</ion-header>

<ion-content>
<form>
    <ion-item lines="full">
            <ion-label class="text-form" position="floating">Nom :  </ion-label>
            <ion-input type="text" value="{{userData.lastname}}" readonly></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label class="text-form" position="floating">Prenom :  </ion-label>
            <ion-input type="text" value="{{userData.firstname}}" readonly></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label class="text-form" position="floating">Pseudonyme :  </ion-label>
            <ion-input type="text" value="{{userData.pseudo}}" readonly></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label class="text-form" position="floating">Email :  </ion-label>
            <ion-input type="text" value="{{userData.email}}" #email readonly></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label class="text-form" position="floating">Date de naissance :  </ion-label>
            <ion-input type="date" value="{{userData.birthdate}}" readonly></ion-input>
        </ion-item>
    </form>
    <ion-button color="warning" type="submit" (click)="resetPassword()" expand="block">Modification du mot de passe</ion-button>
    <ion-button color="primary" type="submit" (click)="editProfil()" expand="block">Modifier le profile</ion-button>

</ion-content>