<ion-content>
    <ion-header>
        <ion-title>
            Information générales 
        </ion-title>
    </ion-header>

<form>
    <ion-item lines="full">
            <ion-label class="text-form" position="floating">Nom : {{last_name}} </ion-label>
            <ion-input type="text" #email required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label class="text-form" position="floating">Prenom : {{first_user}} </ion-label>
            <ion-input type="text" #email required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label class="text-form" position="floating">Email : {{mail}} </ion-label>
            <ion-input type="text" #email required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label class="text-form" position="floating">Date de naissance : {{date_born}} </ion-label>
            <ion-input type="datetime-picker" required></ion-input>
        </ion-item>
    </form>

    <ion-title>
        Statistiques 
    </ion-title>

</ion-content>