@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: url(assets/PermanentMarker/Permanent-Marker-normal-400.eot);
  src: local('Permanent Marker'), url(assets/PermanentMarker/Permanent-Marker-normal-400.woff) format('woff'), url(assets/PermanentMarker/Permanent-Marker-normal-400.eot?#iefix) format('embedded-opentype'), url(assets/PermanentMarker/Permanent-Marker-normal-400.ttf) format('truetype'), url(assets/PermanentMarker/Permanent-Marker-normal-400.woff2) format('woff2'), url(assets/PermanentMarker/Permanent-Marker-normal-400.svg#PermanentMarker) format('svg');
}

