<ion-header>
  <ion-toolbar class="header">
    <div id="title">
      <center>
        <ion-title>{{title}}</ion-title>
      </center>
    </div>
    <div class="content-image">
      <center>
        <ion-img (click)="updateTitlePage()" [routerLink]="['/home/accueil']" expand="full" class="logo"
          src="assets/icon/logo.png"></ion-img>
      </center>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="updateTitlePage()" tab="profil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="updateTitlePage()" tab="quetes">
        <ion-icon name="tennisball"></ion-icon>
        <ion-label>Quetes</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="updateTitlePage()" tab="options">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Options</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="updateTitlePage()" tab="friends">
        <ion-icon name="accessibility-outline"></ion-icon>
        <ion-label>Amis</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>