<ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="quetes">
      <ion-icon name="tennisball"></ion-icon>
      <ion-label>Quetes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="parametres">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Parametres</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="friends">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Amis</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="authService.SignOut()">
      <ion-icon name="power"></ion-icon>
      <ion-label>Déconnexion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
